<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>B19Ymw1z6Zp87EMDoUGjxGUaq8FeFLa/5rhAYdDWzwhiqJG0BTWYPtponNU7BwiABytEjpmYBKoVTbg9Pu6kikoTU4gN3mlG88h1K+AAAtBf5Q12vIuH5ni13bNC+7EZvy1MPI1LIamnkFoHPTzexGP/IX9y4UD6FnDg6T84OiM=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>rvzzI74M/XMdDpWmKbuKFHXyfcLCAp0xSn8Hb4zXb8k=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>